extends layout

block content
    p(class="pTitle") New account added :
    table(class="table is-striped is-hoverable is-fullwidth")
        thead
            tr(class="tr")
                th Number
                th Type
                th Initial Balance
                th Balance
                th Description
        tbody(class="tbody")
            tr(class="tr")
                td #{data[0].number}
                td #{data[0].type}
                td #{data[0].initial_balance}
                td #{data[0].balance}
                td #{data[0].description}
