extends layout

block content
  table(class="table is-striped is-hoverable is-fullwidth")
    thead
      tr(class="tr")
        th Number
        th Type
        th Initial Balance
        th Balance
        th Description
    tbody(class="tbody")
    for item in data
      tr(class="tr")
        td #{item.number}
        td #{item.type}
        td #{item.initial_balance}
        td #{item.balance}
        td #{item.description}


  div(class="mainDiv")
